@import "src/styles/colors";
@import "src/styles/vars";

.inp-math-container {
  position: relative;

  &_label {
    display: block;
    font-weight: 700;
    font-style: normal;
    font-size: 13.026px;
    margin-bottom: 10px;
    line-height: normal;
    color: $secondary-1000;
    letter-spacing: 0.13px;
  }

  &_block {
    display: flex;

    & > div {
      width: 45px;
      font-weight: 400;
      font-style: normal;
      font-size: 13.026px;
      line-height: normal;
      @extend %flex-center;
      color: $secondary-1000;
      letter-spacing: 0.13px;
      border-radius: 5px 0 0 5px;
      background: $secondary-500;
      border: 1px solid $secondary-700;
    }

    input {
      width: 100%;
      outline: none;
      padding-left: 20px;
      color: $secondary-1000;
      transition: 0.2s ease-out;

      &::placeholder {
        color: $secondary-600
      }

      &.default {
        height: 35px;
        color: black;
        border-left: none;
        background: $white;
        border-radius: 0 5px 5px 0;
        border: 1px solid $secondary-700;
      }
    }
  }
}